@model List<Employees.Models.Emp>

@{
    ViewData["Title"] = "Manager";
}

<div class="text-center">
    <h1 class="display-4">Welcome TO Employee Manager -</h1>
    <table>
        <thead>
            <th>Emp-Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>DateOfBirth</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Department</th>
            <th>JoiningDate</th>
        </thead>
        <tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>@item.Position</td>
					<td>@item.DateOfBirth</td>
					<td>@item.Email</td>
					<td>@item.Salary</td>
					<td>@item.Department</td>
					<td>@item.JoiningDate</td>
                    <td><a asp-asp-controller="Employee" asp-action="Edit" >Edit</a></td>
                    <td><a asp-asp-controller="Employee" asp-action="Delete">Delete</a></td>
				</tr>
			}
        </tbody>
    </table>

    <button asp-action="Create">Add data</button>








</div>
