@model List<EmpModel>

@{
    ViewData["Title"] = "Manager";
    string message = ViewBag.Message;
}

<div class="container mt-4">

   @{
     if (message != null) 
         { 
             if (message == "Data not deleted") 
             { 
                 <div class="alert alert-danger" role="alert"> 
                     @message 
                 </div> 
             } 
             else{ 
                 //message when we returning from edit  
                 <div class="alert alert-success" role="alert"> 
                     @message 
                 </div> 
             } 
        }
    }
    <div class="text-center mb-4">
        <h1 class="display-5 fw-bold">Employee Manager</h1>
    </div>

    <div>
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Emp-Id</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Date of Birth</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Department</th>
                    <th>Mobile_no</th>
                    <th>Joining Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Position</td>
                        <td>@item.DateOfBirth</td>
                        <td>@item.Email</td>
                        <td>₹@item.Salary</td>
                        <td>@item.Department</td>
                        <td>@item.PhoneNo</td>
                        <td>@item.JoiningDate</td>
                        <td class="d-flex gap-2">
                            <a class="btn btn-sm btn-outline-info" asp-controller="Employee" asp-action="Create" asp-route-id="@item.Id">
                                 Edit
                            </a>
                            <a class="btn btn-sm btn-danger" onclick="confirmDelete(@item.Id)">
                                 Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-end">
        <a href="/Employee/Create" class="btn btn-success">
            ➕ Add Employee
        </a>
    </div>
</div>



<script> 
    function confirmDelete(id){ 
        var x = confirm("Are you sure you want to delete ?"); 
        if (x) { 
            window.location.href = "/Employee/Delete/" + id; 
            console.log("js -" + id); 
         } 

     } 
</script>
